.Planet {
    border: 1px solid #000000;
    display: inline-block;
    border-radius: 50%;
    background: #05baf1;
    text-align: center;
    color:#000000;
    font-size: small;
    cursor: default;
}

.Planet span {
    display: inline-block;
    width: 50px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}